body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:60px;
  width:760px;
  height:310px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:310px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  word-wrap:break-word;
}
