body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:580px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:103px;
  width:340px;
  height:473px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:473px;
}
#u1 {
  position:absolute;
  left:2px;
  top:228px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:135px;
  width:340px;
  height:374px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:374px;
}
#u3 {
  position:absolute;
  left:2px;
  top:179px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:30px;
  top:59px;
  width:340px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:44px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:138px;
  top:70px;
  width:189px;
  height:24px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:24px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:174px;
  top:74px;
  width:130px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:150px;
  top:73px;
  width:19px;
  height:19px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:62px;
  top:536px;
  width:26px;
  height:21px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:62px;
  top:560px;
  width:27px;
  height:16px;
  color:#3399FF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:147px;
  top:536px;
  width:26px;
  height:21px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:147px;
  top:560px;
  width:27px;
  height:16px;
  color:#1E1E1E;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:232px;
  top:536px;
  width:26px;
  height:21px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:232px;
  top:560px;
  width:27px;
  height:16px;
  color:#666666;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:314px;
  top:536px;
  width:26px;
  height:21px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:321px;
  top:560px;
  width:14px;
  height:16px;
  color:#666666;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:30px;
  top:103px;
  width:340px;
  height:33px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:33px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:58px;
  top:113px;
  width:265px;
  height:16px;
  color:#666666;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:112px;
  top:113px;
  width:20px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:320px;
  top:113px;
  width:20px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:345px;
  top:370px;
  width:210px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:193px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u37 {
  position:absolute;
  left:380px;
  top:107px;
  width:200px;
  height:15px;
  font-size:12px;
  color:#3399FF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:110px;
  top:119px;
  width:370px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u40 {
  position:absolute;
  left:331px;
  top:74px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:22px;
  top:36px;
  width:358px;
  height:24px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:24px;
}
#u43 {
  position:absolute;
  left:2px;
  top:4px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:30px;
  top:21px;
  width:328px;
  height:24px;
  font-size:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:24px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:118px;
  top:151px;
  width:130px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:118px;
  top:207px;
  width:100px;
  height:16px;
  font-size:14px;
  color:#BCBCBC;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:118px;
  top:261px;
  width:242px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:225px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:242px;
  height:1px;
}
#u51 {
  position:absolute;
  left:118px;
  top:235px;
  width:230px;
  height:16px;
  color:#BCBCBC;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:118px;
  top:178px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:40px;
  top:181px;
  width:59px;
  height:52px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:52px;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:280px;
  top:165px;
  width:60px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:279px;
  top:194px;
  width:61px;
  height:16px;
  font-size:14px;
  color:#BCBCBC;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:118px;
  top:281px;
  width:130px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:118px;
  top:337px;
  width:100px;
  height:16px;
  font-size:14px;
  color:#BCBCBC;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:118px;
  top:391px;
  width:242px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:225px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:242px;
  height:1px;
}
#u66 {
  position:absolute;
  left:118px;
  top:365px;
  width:230px;
  height:16px;
  color:#BCBCBC;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:118px;
  top:308px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:40px;
  top:311px;
  width:59px;
  height:52px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:52px;
}
#u71 {
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:280px;
  top:295px;
  width:60px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:279px;
  top:324px;
  width:61px;
  height:16px;
  font-size:14px;
  color:#BCBCBC;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:400px;
  top:144px;
  width:180px;
  height:15px;
  font-size:12px;
  color:#3399FF;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:15px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:380px;
  top:340px;
  width:190px;
  height:30px;
  font-size:12px;
  color:#3399FF;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:40px;
  top:146px;
  width:350px;
  height:10px;
}
#u80_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_end {
  position:absolute;
  left:333px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_line {
  position:absolute;
  left:0px;
  top:5px;
  width:350px;
  height:1px;
}
#u81 {
  position:absolute;
  left:14px;
  top:114px;
  width:61px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u81_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_end {
  position:absolute;
  left:44px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_line {
  position:absolute;
  left:0px;
  top:5px;
  width:61px;
  height:1px;
}
#u82 {
  position:absolute;
  left:40px;
  top:74px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:113px;
  top:72px;
  width:22px;
  height:22px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u85 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
