body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1220px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:420px;
  top:103px;
  width:340px;
  height:707px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:707px;
}
#u1 {
  position:absolute;
  left:2px;
  top:346px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:420px;
  top:103px;
  width:340px;
  height:97px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:97px;
}
#u3 {
  position:absolute;
  left:2px;
  top:40px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:420px;
  top:59px;
  width:340px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:44px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:505px;
  top:161px;
  width:175px;
  height:22px;
  color:#666666;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:700px;
  top:127px;
  width:48px;
  height:18px;
  color:#666666;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:547px;
  top:72px;
  width:113px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:443px;
  top:134px;
  width:46px;
  height:44px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u13 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:446px;
  top:149px;
  width:42px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:30px;
  top:103px;
  width:340px;
  height:707px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:707px;
}
#u17 {
  position:absolute;
  left:2px;
  top:346px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:30px;
  top:103px;
  width:340px;
  height:97px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:97px;
}
#u19 {
  position:absolute;
  left:2px;
  top:40px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:30px;
  top:838px;
  width:340px;
  height:52px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:52px;
}
#u21 {
  position:absolute;
  left:2px;
  top:18px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:30px;
  top:59px;
  width:340px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:44px;
}
#u23 {
  position:absolute;
  left:2px;
  top:14px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:30px;
  top:21px;
  width:328px;
  height:24px;
  font-size:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:24px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:62px;
  top:845px;
  width:26px;
  height:21px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:62px;
  top:869px;
  width:27px;
  height:16px;
  color:#6B6B6B;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:147px;
  top:845px;
  width:26px;
  height:21px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:147px;
  top:869px;
  width:27px;
  height:16px;
  color:#5E5E5E;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:232px;
  top:845px;
  width:26px;
  height:21px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:232px;
  top:869px;
  width:27px;
  height:16px;
  color:#3399FF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:314px;
  top:845px;
  width:26px;
  height:21px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:321px;
  top:869px;
  width:14px;
  height:16px;
  color:#666666;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:30px;
  top:546px;
  width:340px;
  height:292px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:292px;
}
#u43 {
  position:absolute;
  left:2px;
  top:138px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:120px;
  top:127px;
  width:81px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:115px;
  top:161px;
  width:230px;
  height:22px;
  color:#666666;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:300px;
  top:127px;
  width:58px;
  height:18px;
  color:#666666;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:178px;
  top:72px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:53px;
  top:134px;
  width:46px;
  height:44px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u53 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:56px;
  top:149px;
  width:42px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:30px;
  top:826px;
  width:340px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:323px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:340px;
  height:1px;
}
#u57 {
  position:absolute;
  left:30px;
  top:210px;
  width:340px;
  height:97px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:97px;
}
#u58 {
  position:absolute;
  left:2px;
  top:40px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:120px;
  top:234px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:115px;
  top:268px;
  width:230px;
  height:22px;
  color:#666666;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:53px;
  top:241px;
  width:46px;
  height:44px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u64 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:56px;
  top:256px;
  width:42px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:30px;
  top:317px;
  width:340px;
  height:97px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:97px;
}
#u68 {
  position:absolute;
  left:2px;
  top:40px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:120px;
  top:341px;
  width:113px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:115px;
  top:375px;
  width:230px;
  height:22px;
  color:#666666;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:53px;
  top:348px;
  width:46px;
  height:44px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u74 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:56px;
  top:363px;
  width:42px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:30px;
  top:623px;
  width:340px;
  height:10px;
}
#u77_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:323px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:5px;
  width:340px;
  height:1px;
}
#u78 {
  position:absolute;
  left:116px;
  top:558px;
  width:133px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:53px;
  top:565px;
  width:46px;
  height:44px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u81 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:62px;
  top:571px;
  width:33px;
  height:30px;
  color:#666666;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:115px;
  top:587px;
  width:54px;
  height:24px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
}
#u85 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:127px;
  top:591px;
  width:35px;
  height:22px;
  color:#000000;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:306px;
  top:559px;
  width:39px;
  height:18px;
  color:#666666;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:30px;
  top:430px;
  width:340px;
  height:97px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:97px;
}
#u91 {
  position:absolute;
  left:2px;
  top:40px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:120px;
  top:454px;
  width:113px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:121px;
  top:488px;
  width:230px;
  height:22px;
  color:#666666;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:53px;
  top:461px;
  width:46px;
  height:44px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u97 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:56px;
  top:476px;
  width:42px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:340px;
  top:478px;
  width:120px;
  height:10px;
}
#u100_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u100_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u100_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u101 {
  position:absolute;
  left:434px;
  top:69px;
  width:26px;
  height:26px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u102 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:505px;
  top:129px;
  width:165px;
  height:22px;
  color:#666666;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:22px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:704px;
  top:155px;
  width:31px;
  height:31px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u106 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:420px;
  top:205px;
  width:340px;
  height:97px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:97px;
}
#u108 {
  position:absolute;
  left:2px;
  top:40px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:505px;
  top:263px;
  width:175px;
  height:22px;
  color:#666666;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:22px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:690px;
  top:229px;
  width:58px;
  height:18px;
  color:#666666;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:443px;
  top:236px;
  width:46px;
  height:44px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u114 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:446px;
  top:251px;
  width:42px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:505px;
  top:231px;
  width:230px;
  height:22px;
  color:#666666;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:704px;
  top:251px;
  width:34px;
  height:33px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
}
#u120 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:799px;
  top:59px;
  width:421px;
  height:751px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:751px;
}
#u122 {
  position:absolute;
  left:2px;
  top:368px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:720px;
  top:243px;
  width:120px;
  height:10px;
}
#u123_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u123_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u123_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u124 {
  position:absolute;
  left:720px;
  top:141px;
  width:120px;
  height:10px;
}
#u124_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u124_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u124_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
